/*.boss_content_left {*/
/*    width: 50px;*/
/*    min-height: 400px;*/
/*    float: left;*/
/*    margin: 0 -1px 0 0;*/
/*    background: url(../img/researcher_images/content-lbg.png) 100% 0 no-repeat;*/
/*}*/

/*.boss_content_right {*/
/*    width: 50px;*/
/*    min-height: 400px;*/
/*    float: left;*/
/*    background: url(../img/researcher_images/content-rbg.png) 0 0 no-repeat;*/
/*}*/

/*.boss_content_mid {*/
/*    width: 800px;*/
/*    min-height: 400px;*/
/*    float: left;*/
/*    padding: 20px; !* Added padding for better spacing *!*/
/*    background: url(../img/researcher_images/content-fold.png) repeat-x;*/
/*}*/

.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1050px;
    margin: 0 auto;
    justify-content: space-between; /* This will ensure that the items are spaced out evenly */
    align-items: start; /* This will ensure that the items are aligned to the top */
}

.boss_image {
    flex: 1 1 250px; /* flex-grow, flex-shrink, flex-basis */
    margin: 50px 50px 0 0; /* Adjusted margin for better spacing */
}

.boss_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.boss_name {
    flex: 1;
    margin: 30px 0;
    font-size: 18px;
    width: 100%; /* Ensures that the name takes the full width */
}

.boss_bio {
    flex: 2 1 700px; /* flex-grow, flex-shrink, flex-basis */
    margin: 20px 0;
    font-size: 18px;
}

.list {
    font-size: 16px;
}

#container .boss_content_mid p {
    text-indent: 0;
    font-size: 16px;
    line-height: 1.5;
}


