/*.boss_content_left {*/
/*    width: 50px;*/
/*    min-height: 400px;*/
/*    float: left;*/
/*    margin: 0 -1px 0 0;*/
/*    background: url(../img/researcher_images/content-lbg.png) 100% 0 no-repeat;*/
/*}*/

/*.boss_content_right {*/
/*    width: 50px;*/
/*    min-height: 400px;*/
/*    float: left;*/
/*    background: url(../img/researcher_images/content-rbg.png) 0 0 no-repeat;*/
/*}*/

/*.boss_content_mid {*/
/*    width: 800px;*/
/*    min-height: 400px;*/
/*    float: left;*/
/*    padding: 20px; !* Added padding for better spacing *!*/
/*    background: url(../img/researcher_images/content-fold.png) repeat-x;*/
/*}*/

.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1050px; /* 设置最大宽度 */
    margin: 0 auto; /* 居中显示 */
}

.boss_image {
    flex: 0 0 250px; /* flex-grow, flex-shrink, flex-basis */
    margin: 50px 100px 0 100px;
}

.boss_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.boss_name {
    flex: 1; /* 允许它在有空间的情况下扩展 */
    margin: 30px 0;
    font-size: 18px;
}

.boss_bio {
    flex: 0 0 700px; /* flex-grow, flex-shrink, flex-basis */
    margin: 20px 0 0 100px;
    font-size: 18px;
}

.list {
    font-size: 16px;
}

#container .boss_content_mid p {
    text-indent: 0;
    font-size: 16px;
    line-height: 1.5;
}

/* 媒体查询，当屏幕宽度小于1050px时的样式 */
@media (max-width: 1050px) {
    .boss_image, .boss_bio {
        margin: 20px 0;
        flex-basis: 100%; /* 设置它们的基础宽度为100% */
    }
}
