<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>关于我们-组员简介</title>
<meta http-equiv="Content-Type" content="text/html"; charset="utf-8" />
<meta http-equiv="imagetoolbar" content="no" />
<link rel="stylesheet" href="/static/css/layout.css" type="text/css" />
</head>
<body id="top">
<div class="wrapper row1">
  <div id="topnav">
    <ul>
      <li><a href="../index.html"><strong>首&nbsp&nbsp&nbsp&nbsp页</strong></a></li>
      <li class="active"><a href="../aboutUs/index.html"><strong>关于我们</strong></a></li>
      <li><a href="../researchDir/index.html"><strong>研究方向</strong></a></li>
      <li><a href="../researchers/index.html"><strong>人员介绍</strong></a></li>
      <li><a href="../cultivation/index.html"><strong>人才培养</strong></a></li>
      <li><a href="../mainAch/index.html"><strong>主要成果</strong></a></li>
      <li><a href="../cooStudy/index.html"><strong>合作研究</strong></a></li>
        <li><a href="../dataset_info/index.html"><strong>数据集共享</strong></a></li>
      <li class="last"><a href="../sleepEng/index.html"><strong>睡眠工程</strong></a></li>
    </ul>
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper row2">
  <div id="header" class="clear">
    <div class="fl_left">
		<a href="../index.html"><img src="/static/img/myheader.jpg" width="400"/></a>
      <!--h1><a href="index.html">Digital Medical Laboratory
</a></h1>
      <p>SLEEP AND NEUROIMAGE</p-->
    </div>
    <div class="fl_right">
      <form action="http://www.google.com.hk/search" method="get" id="sitesearch">
		  <input type="hidden" name="sitesearch" value="sleep-china.cn" />
          <input type="text" name="as_q"/>
          <image src="/static/img/search.gif" id="search" alt="Search" />
      </form>
      <!--p><a href="#">A - Z Index</a> | <a href="#">Student Login</a> | <a href="#">Staff Login</a></p-->
    </div>
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper row4">
  <div id="quicknav" class="clear"> 
    <ul style="margin-left:60px">
      <li class="active">
	  <a href="index.html">小组简介</a>
      </li>
      <li>
	  <a href="history.html">发展历史</a>
      </li>
      <li>
	  <a href="books.html">专业书籍</a>
      </li>
	  <li>
	  <a href="software.html">专业软件</a>
      </li>
	  <li>
	  <a href="train.html">内部培训</a>
      </li>
	  <li>
	  <a href="news.html">新闻通知</a>
      </li>
	  <li>
	  <a href="foreword.html">前沿跟进</a>
      </li>
      <li class="last">
	  <a href="join.html">加入我们</a>
      </li>
    </ul>
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper row5">
  <div id="container" class="clear">
    <!-- ####################################################################################################### -->
    <!--div id="content"-->
		<h1 style="font-weight:bold;">小组简介</h1>
		<h2>数字医疗实验室</h2>
		<p>
        上海交通大学生物医学工程学院内的数字医疗实验室，是一支由12名专业成员组成的杰出团队，由资深的金成老师领导。该实验室致力于推动数字医疗技术的前沿研究，结合生物医学工程的先进理念，探索人类健康的未来趋势。
        金成老师的远见卓识以及丰富的学术经验为团队注入了持续的创新动力。实验室的研究方向包括但不限于人工智能在医疗领域的应用、医疗图像处理以及生物信息学等。团队成员以专业、协同的工作态度，通过紧密合作，力求在数字医疗领域取得一系列突破性成果。
        作为一支年轻而充满活力的团队，我们始终秉持着探索、创新、务实的科研精神，与全球同行共同推动数字医疗技术的进步，为人类健康事业的可持续发展贡献自己的力量。
       上海交通大学的卓越学术氛围为实验室提供了丰富的资源和广阔的合作空间，使我们得以不断挖掘新的研究方向，引领数字医疗技术走向新的高峰。我们诚挚地欢迎志同道合的学者、研究人员和产业合作伙伴加入我们，共同开创数字医疗的美好未来。
		<a href="../researchDir/index.html" style="text-decoration:underline">数字病理学</a>、
		<a href="../researchDir/deprivation.html" style="text-decoration:underline">抑郁症诊断</a>、
		<a href="../researchDir/regulation.html" style="text-decoration:underline">成像、超声</a>。
		</p>
		<p style="font-size:14px">研究小组工作环境：</p>
		<p>
		<div style="text-align:center">
		<img src = "/static/img/us_images/g_449.png">
		<img src = "/static/img/us_images/g_445.png">
		</div>
		</p>
		<p style="font-size:14px">脑电信号采集实验室：</p>
		<p>
		<div style="text-align:center">
		<img src = "/static/img/us_images/equip.png">
		<img src = "/static/img/us_images/signal_collect.png">
		</div>
		</p>	

		<p style="font-size:14px">数据分析平台：</p>
		<p>
		<div style="text-align:center">
		<img src = "/static/img/us_images/analysis.png">
		<img src = "/static/img/us_images/signal.png">
		</div>
		</p>		
	  <br />
    <!-- ####################################################################################################### -->
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper">
  <div id="academiclinks" class="clear">
    <div class="linkbox">
      <h2>联系我们</h2>
      <ul>
        <li><a href="../researchers/index.html">&raquo; 中心负责人</a></li>
        <li><a href="join.html">&raquo; 地理位置</a></li>
      </ul>
    </div>
    <div class="linkbox">
      <h2>关于我们</h2>
      <ul>
        <li><a href="index.html">&raquo; 小组简介</a></li>
        <li><a href="history.html">&raquo; 发展历史</a></li>
        <li><a href="join.html">&raquo; 加入我们</a></li>
      </ul>
    </div>
    <div class="linkbox">
      <h2>论文下载</h2>
      <ul>
        <li><a href="http://www.ncbi.nlm.nih.gov/pubmed/" target="view_window">&raquo; NCBI PubMed</a></li>
        <li><a href="http://scholar.google.com.hk/schhp?client=aff-360daohang&hl=zh-CN&tab=ws" target="view_window">&raquo; Google Scholar</a></li>
        <li><a href="http://www.sciencedirect.com/" target="view_window">&raquo; ScienceDirect</a></li>
        <li><a href="http://www.cnki.net/" target="view_window">&raquo; CNKI</a></li>
        <li><a href="http://en.wikipedia.org/wiki/Wiki" target="view_window">&raquo; WiKipedia</a></li>
      </ul>
    </div>
    <div class="linkbox last">
      <h2>友情链接</h2>
      <ul>
        <li><a href="http://www.nature.com/" target="view_window">&raquo; Nature</a></li>
        <li><a href="http://www.sciencemag.org/" target="view_window">&raquo; Science</a></li>
        <li><a href="http://www.cell.com/" target="view_window">&raquo; Cell</a></li>
        <li><a href="http://www.cell.com/current-biology/" target="view_window">&raquo; Current biology</a></li>
        <li><a href="http://www.nature.com/neuro/index.html" target="view_window">&raquo; Nature neuroscience</a></li>
      </ul>
    </div>
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper">
  <div id="footer" class="clear">
    <!-- ####################################################################################################### -->
    <div class="fl_left clear">
      <div class="fl_left center">
        <a href="join.html"><img src="/static/img/demo/worldmap.gif" alt="" /><br/>点击Baidu Maps查看详细位置 &raquo;</a>
	  </div>
      <address>
      地址: 上海市闵行区上海交通大学闵行校区转化医学研究院
<br />
      邮编: 200240
<br />
      <br />
      电话: 18721280616
<br />
      Email: <!--a href="#"-->chengjin520@sjtu.edu.cn
<!--/a-->
      </address>
    </div>
    <div id="copyright" class="clear">
      <p class="fl_left">Copyright &copy; 2023 - All Rights Reserved - 数字医疗实验室</p>
      <!--p class="fl_right"><a href="#" title="Digital Medical Laboratory
">Digital Medical Laboratory
</a></p-->
    </div>
    <!-- ####################################################################################################### -->
  </div>
</div>
</body>
</html>