<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>人员介绍-负责人</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="imagetoolbar" content="no" />
<link rel="stylesheet" href="/static/css/layout.css" type="text/css" />
<link rel="stylesheet" href="/static/css/researcher_style.css" type="text/css" />
</head>
<body id="top">
<div class="wrapper row1">
  <div id="topnav">
    <ul>
      <li><a href="../index.html"><strong>首&nbsp&nbsp&nbsp&nbsp页</strong></a></li>
      <li><a href="../aboutUs/index.html"><strong>关于我们</strong></a></li>
      <li><a href="../researchDir/index.html"><strong>研究方向</strong></a></li>
      <li class="active"><a href="../researchers/index.html"><strong>人员介绍</strong></a></li>
      <li><a href="../cultivation/index.html"><strong>人才培养</strong></a></li>
      <li><a href="../mainAch/index.html"><strong>主要成果</strong></a></li>
      <li><a href="../cooStudy/index.html"><strong>合作研究</strong></a></li>
        <li><a href="../dataset_info/index.html"><strong>数据集共享</strong></a></li>
      <li class="last"><a href="../sleepEng/index.html"><strong>睡眠工程</strong></a></li>
    </ul>
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper row2">
  <div id="header" class="clear">
    <div class="fl_left">
		<a href="../index.html"><img src="/static/img/myheader.jpg" width="400"/></a>
      <!--h1><a href="index.html">Digital Medical Laboratory
</a></h1>
      <p>SLEEP AND NEUROIMAGE</p-->
    </div>
    <div class="fl_right">
      <form action="http://www.google.com.hk/search" method="get" id="sitesearch">
		  <input type="hidden" name="sitesearch" value="sleep-china.cn" />
          <input type="text" name="as_q"/>
          <image src="/static/img/search.gif" id="search" alt="Search" />
      </form>
      <!--p><a href="#">A - Z Index</a> | <a href="#">Student Login</a> | <a href="#">Staff Login</a></p-->
    </div>
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper row4">
  <div id="quicknav" class="clear">   <!--#quicknav{text-align:center;}不能使他们居中-->
    <ul style="padding-left:250px;">
      <li class="active">
	  <a href="index.html">负责人</a>
      </li>
      <li>
	  <a href="teachers.html">专职教师</a>
      </li>
      <li>
	  <a href="graduate.html">研究生</a>
      </li>
	  <li>
	  <a href="visiting.html">访问交流</a>
      </li>
      <li class="last">
	  <a href="finish.html">毕业生</a>
      </li>
    </ul>
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper row5">
  <div id="container" class="clear">
    <!-- ####################################################################################################### -->
    <!--div id="content"-->
		<h1 style="font-weight:bold;">负责人</h1>
		<div class="boss_content_left">					
		</div>
		<div class="boss_content_mid">		
			<div class = "boss_image"><a><img src="/static/img/researcher_images/boss.jpg"></a>
			</div>
			<div class = "boss_name">
				<p>
				<span class="name"><b>金成</b><br /><br />Jin Cheng</span><br /><br />
				博士后，副教授，博士生导师<br /><br />
				数字医疗实验室创始人<br /><br />
				Tel: 18721280616
<br /><br />
				Email: <a href="mailto:chengjin520@sjtu.edu.cn
">chengjin520@sjtu.edu.cn
</a><br /><br />
				通讯地址: 上海市闵行区东川路800号 上海交通大学 转化医学大楼S216
				</p>				
			</div>	
			<br class="clear" />
			<div class = "boss_bio">
                    <p class="section-title">个人简介</p>
                    <p>
                        长聘教轨副教授。自2018年获得清华大学博士学位后，进入美国斯坦福大学从事医学人工智能方向博士后研究。2021年12月入职上海交通大学生物医学工程学院。本人一直致力于开发临床级别的人工智能辅助诊断、治疗评估、预测预后的算法和系统。将传统的数据挖掘技术和深度学习融合，着力实现大数据数理科学、多模态信息处理技术、临床疾病智能诊断的三方闭环互通。关于心血管疾病、恶性肿瘤、脑疾病、COVID-19等相关研究结论已为对应疾病治疗的临床指南修订提供了重要参考，所开发的系统已全部开源、累计被下载6万余次，目前已发表包括<span class="highlight">Nature communication, Nature Computational Science, Nature Medicine、Science translational medicine</span>等学术期刊论文及国际会议论文30余篇。部分研究成果已被新华网、人民日报、路透社、纽约时报等国内、外知名媒体追踪报道。
                    </p>

                    <p class="section-title">研究方向</p>
                    <p>
                        基于大规模多元异构数据的临床级可解释的疾病诊断、预后评估AI系统的开发。
                    </p>

                    <p class="section-title">代表性论著</p>
                    <div class="publication">
                        1. Cheng Jin, Weixiang Chen, Yukun Cao, Zhanwei Xu, Xin Zhang, Lei Deng, Chuansheng Zheng, Jie Zhou, Heshui Shi, and Jianjiang Feng. Development and Evaluation of an AI System for COVID-19 Diagnosis. Nature communication, 11, 5088, 2020.
                    </div>
                    <div class="publication">
                        2. Cheng Jin, Heng Yu, Jia Ke, Peirong Ding, Yongju Yi, Xiaofeng Jiang, Xin Duan, Jinghua Tang, Daniel T. Chang, Xiaojian Wu, Feng Gao, Ruijiang Li. Predicting treatment response from longitudinal images using multi-task deep learning. Nature communication, 12(1), 1-11 2021.
                    </div>
                    <div class="publication">
                        3. Cheng Jin, Yongjie Duan, Yukun Cao, Jinyang Yu, Zhanwei Xu, Weixiang Chen, Xiaoyu Han, Jia Liu, Jie Zhou, Heshui Shi, Jianjiang Feng. Voxel-Voxel Forecast for Lesion development in patients with COVID-19. Nature Computational Science. Doi:https://doi.org/10.1101/2020.12.17.20248377. medRxiv: https://www.medrxiv.org/content/10.1101/2020.12.17.20248377v2. Demo in YouTube: https://www.youtube.com/watch?v=wtXjiBV87k4&feature=youtu.be. .
                    </div>
                    <div class="publication">
                        4. Cheng Jin, Yuming Jiang, Heng Yu, Wei Wang, Bailiang Li, Chuanli Chen, Qingyu Yuan, Yanfeng Hu, MD, Yikai Xu, Zhiwei Zhou, Guoxin Li, Ruijiang Li. Deep learning analysis of the primary tumour and the prediction of lymph node metastases in gastric cancer. British Journal of Surgery 108.5 (2021): 542-549.
                    </div>
                    <div class="publication">
                        5. Jiang, Yuming, Cheng Jin#, Heng Yu, Jia Wu, Chuanli Chen, Qingyu Yuan, Weicai Huang et al.
Development and validation of a deep learning CT signature to predict survival and chemotherapy benefit in gastric cancer: a multicenter, retrospective study. Annals of surgery 274, no. 6 (2021): e1153-e1161.
                    </div>
			</div>			
		</div>
		<div class="boss_content_right">
		</div>
    <!-- ####################################################################################################### -->
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper">
  <div id="academiclinks" class="clear">
    <div class="linkbox">
      <h2>联系我们</h2>
      <ul>
        <li><a href="../researchers/index.html">&raquo; 中心负责人</a></li>
        <li><a href="../aboutUs/join.html">&raquo; 地理位置</a></li>
      </ul>
    </div>
    <div class="linkbox">
      <h2>关于我们</h2>
      <ul>
        <li><a href="../aboutUs/index.html">&raquo; 小组简介</a></li>
        <li><a href="../aboutUs/history.html">&raquo; 发展历史</a></li>
        <li><a href="../aboutUs/join.html">&raquo; 加入我们</a></li>
      </ul>
    </div>
    <div class="linkbox">
      <h2>论文下载</h2>
      <ul>
        <li><a href="http://www.ncbi.nlm.nih.gov/pubmed/" target="view_window">&raquo; NCBI PubMed</a></li>
        <li><a href="http://scholar.google.com.hk/schhp?client=aff-360daohang&hl=zh-CN&tab=ws" target="view_window">&raquo; Google Scholar</a></li>
        <li><a href="http://www.sciencedirect.com/" target="view_window">&raquo; ScienceDirect</a></li>
        <li><a href="http://www.cnki.net/" target="view_window">&raquo; CNKI</a></li>
        <li><a href="http://en.wikipedia.org/wiki/Wiki" target="view_window">&raquo; WiKipedia</a></li>
      </ul>
    </div>
    <div class="linkbox last">
      <h2>友情链接</h2>
      <ul>
        <li><a href="http://www.nature.com/" target="view_window">&raquo; Nature</a></li>
        <li><a href="http://www.sciencemag.org/" target="view_window">&raquo; Science</a></li>
        <li><a href="http://www.cell.com/" target="view_window">&raquo; Cell</a></li>
        <li><a href="http://www.cell.com/current-biology/" target="view_window">&raquo; Current biology</a></li>
        <li><a href="http://www.nature.com/neuro/index.html" target="view_window">&raquo; Nature neuroscience</a></li>
      </ul>
    </div>
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper">
  <div id="footer" class="clear">
    <!-- ####################################################################################################### -->
    <div class="fl_left clear">
      <div class="fl_left center">
        <a href="../aboutUs/join.html"><img src="../images/demo/worldmap.gif" alt="" /><br/>点击Baidu Maps查看详细位置 &raquo;</a>
	  </div>
      <address>
      地址: 上海市闵行区上海交通大学闵行校区转化医学研究院
<br />
      邮编: 200240
<br />
      <br />
      电话: 18721280616
<br />
      Email: <!--a href="#"-->chengjin520@sjtu.edu.cn
<!--/a-->
      </address>
    </div>
    <div id="copyright" class="clear">
      <p class="fl_left">Copyright &copy; 2023 - All Rights Reserved - 数字医疗实验室</p>
      <!--p class="fl_right"><a href="#" title="Digital Medical Laboratory
">Digital Medical Laboratory
</a></p-->
    </div>
    <!-- ####################################################################################################### -->
  </div>
</div>
</body>
</html>